/*公用的简便的方法*/
/* 头部默认宽度 */
/* reset新浪 */
html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/20px "SimSun", "宋体", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  color: #666;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  color: #ff8400;
  text-decoration: none;
}
/* 背景设置 */
body {
  background-image: url("../image/ironman.jpg");
  background-attachment: scroll;
  background-position: center top;
  background-repeat: repeat;
  font: 12px/1.3 Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  overflow-x: hidden;
  color: #333;
  -webkit-font-smoothing: antialiased;
}
/* 头部样式 */
.header {
  position: fixed;
  height: 48px;
  background: #ffffff;
  width: 100%;
  border-top: 2px solid #fa7d3c;
  box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.3), 0 0 6px 2px rgba(0, 0, 0, 0.15);
  /*background: rgba(255, 255, 255, 0.94);*/
}
.header .headerContent {
  position: relative;
  width: 1000px;
  height: 48px;
  margin: 0 auto;
}
/* log部分 */
.sinaLogo {
  position: relative;
  float: left;
  display: inline;
  width: 140px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
}
.sinaLogo logoContain {
  height: 48px;
  width: 190px;
  position: absolute;
  left: -50px;
}
.sinaLogo .logo {
  float: left;
  display: inline;
  display: block;
  width: 140px;
  height: 48px;
  background: url("../image/logo.png") no-repeat 50% 40%;
}
/* 输入框部分 */
.sinaInput {
  float: left;
  display: inline;
  position: relative;
  color: #808080;
  height: 28px;
  margin-top: 9px;
  width: 380px;
  background-color: #f2f2f5;
  border: 1px solid #ccc;
}
.sinaInput .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 33px 4px 10px;
  height: 20px;
  line-height: 20px;
  background-color: transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sinaInput .searchBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 23px;
  width: 18px;
  line-height: 23px;
  background-image: url("../image/seaBtn.png");
  background-repeat: no-repeat;
}
/* 右侧导航 */
.active {
  color: #ff8400;
}
.rigthNav {
  float: right;
  display: inline;
  height: 48px;
  /*line-height: @headerH;*/
}
.rigthNav .a {
  text-decoration: none;
}
.rigthNav .nav-left {
  float: left;
  display: inline;
  margin: 11px 20px 11px 0px;
  font-size: 14px;
}
.rigthNav .nav-left li {
  margin-left: 26px;
  float: left;
  display: inline;
}
.rigthNav .nav-left i {
  font-size: 18px;
  margin-right: 4px;
}
.rigthNav .nav-user {
  float: left;
  display: inline;
  margin: 12px 0 12px 21px;
  border-left: 1px solid #d9d9d9;
}
.rigthNav .nav-user li {
  margin-left: 26px;
  float: left;
  display: inline;
}
.rigthNav .nav-user i {
  font-size: 20px;
}
/* 自适应头部 */
@media screen and (min-width: 1295px) {
  .header .headerContent {
    width: 1280px;
  }
}
@media screen and (max-width: 1000px) {
  .header .headerContent {
    width: 760px;
  }
  .sinaInput {
    width: 175px;
  }
}
.content {
  padding-top: 50px;
  height: 1500px;
}
